<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
    <link rel="stylesheet" th:href="@{/css/defualt.css}">
    <link rel="stylesheet" th:href="@{/css/allboard.css}">
</head>
<body>
    <div class="layout">
        <section>
            <div class="board_bg">
                <!-- content top -->
                <div class="btl">
                    <h2 class="title">글쓰기</h2>
                    <div class="btr">
                        <a href="#" role="button" class="register resisterbtn button_color">
                        <span class="register_btn">등록</span>
                        </a>
                    </div>
                </div>
                <!-- WritingContent -->
                <div class="Writingcontent">
                   <div class="WritingEditor">
                       <div class="ArtivleWiritingtitle">
                           <div class="row">
                               <div class="colum_title">
                                   <div class="formselectbox">
                                       <div class="formselectbutton">
                                           <button type="button" aria-haspopup="true" class="categorybtn">
                                               " 게시판을 선택해 주세요. "
                                           </button>
                                       </div>
                                   </div>
                                   <div class="select_option">
                                       <ul class="option_list">
                                           <li class="item">
                                               <button type="button" class="option">
                                                   <span class="option_text">자유 게시판</span>
                                               </button>
                                           </li>
                                           <li class="item">
                                               <button type="button" class="option">
                                                   <span class="option_text">공략 게시판</span>
                                               </button>
                                           </li>
                                           <li class="item">
                                               <button type="button" class="option">
                                                   <span class="option_text">자유 게시판</span>
                                               </button>
                                           </li>
                                       </ul>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div> 
                </div>
            </div>
        </section>
    </div>
</body>
</html>