<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="head">

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title layout:fragment="title"></title>

    <!-- 공통 CSS -->
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"> -->
    
    <!--tailwindcss -->
    <script th:src="@{/js/tailwindcss.js}"></script>

    <!-- 개별 CSS -->
    <th:block th:replace="layout/admin/tailwindcss :: layout"></th:block>
    <th:block layout:fragment="customHead"></th:block>

</head>
</html>