<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"> 

<nav th:fragment="nav" class="hidden md:block basis-1/4 px-5 bg-slate-200">
    <div class="mx-auto mb-10 flex flex-col items-center border-b border-gray-200 pb-10 sm:flex-row lg:w-3/5">
        <div class="mt-6 flex-grow text-center sm:mt-0 sm:text-left">
          <h2 class="title-font mb-2 text-lg font-medium text-gray-900">Shooting Stars</h2>
          <p class="text-base leading-relaxed">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
          <a class="mt-3 inline-flex items-center text-indigo-500"
            >Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="ml-2 h-4 w-4" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="mx-auto mb-10 flex flex-col items-center border-b border-gray-200 pb-10 sm:flex-row lg:w-3/5">
        <div class="mt-6 flex-grow text-center sm:mt-0 sm:text-left">
          <h2 class="title-font mb-2 text-lg font-medium text-gray-900">The Catalyzer</h2>
          <p class="text-base leading-relaxed">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
          <a class="mt-3 inline-flex items-center text-indigo-500"
            >Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="ml-2 h-4 w-4" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="mx-auto flex flex-col items-center border-b border-gray-200 pb-10 sm:flex-row lg:w-3/5">
        <div class="mt-6 flex-grow text-center sm:mt-0 sm:text-left">
          <h2 class="title-font mb-2 text-lg font-medium text-gray-900">The 400 Blows</h2>
          <p class="text-base leading-relaxed">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
          <a class="mt-3 inline-flex items-center text-indigo-500"
            >Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="ml-2 h-4 w-4" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="mx-auto flex flex-col items-center sm:flex-row lg:w-3/5">
        <div class="mt-6 flex-grow text-center sm:mt-0 sm:text-left">
          <h2 class="title-font mb-2 text-lg font-medium text-gray-900">The 400 Blows</h2>
          <p class="text-base leading-relaxed">Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.</p>
          <a class="mt-3 inline-flex items-center text-indigo-500"
            >Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="ml-2 h-4 w-4" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
</nav>

</html>