<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"> 

<nav th:fragment="nav" class="hidden md:block basis-1/4 px-5 bg-slate-50 mt-5 mb-5">
  <h1 class="text-3xl text-center mt-2 ">관리 페이지</h1></br>
    <div class="mx-auto mb-3 flex flex-col items-center border-b border-gray-200 pb-10 sm:flex-row lg:w-3/5">
        <div class="mt-6 flex-grow text-center sm:mt-0 sm:text-left">
          <h2 class="title-font mb-2 text-lg font-medium text-gray-900">회원</h2>
          <p class="text-base leading-relaxed"></p>
          <a class="mt-3 inline-flex items-center text-indigo-500">
            -회원관리
            
          </a>
        </div>
      </div>
      <div class="mx-auto mb-3 flex flex-col items-center border-b border-gray-200 pb-10 sm:flex-row lg:w-3/5">
        <div class="mt-6 flex-grow text-center sm:mt-0 sm:text-left">
          <h2 class="title-font mb-2 text-lg font-medium text-gray-900">게시글</h2>
          <p class="text-base leading-relaxed"></p>
          <a class="mt-3 inline-flex items-center text-indigo-500">
            -게시글 관리
          </a>
        </div>
      </div>
      <div class="mx-auto mb-3  flex flex-col items-center border-b border-gray-200 pb-10 sm:flex-row lg:w-3/5">
        <div class="mt-6 flex-grow text-center sm:mt-0 sm:text-left">
          <h2 class="title-font mb-2 text-lg font-medium text-gray-900">댓글</h2>
          <p class="text-base leading-relaxed"></p>
          <a class="mt-3 inline-flex items-center text-indigo-500"
            >-댓글 관리
          </a>
        </div>
      </div>
      <div class="mx-auto mb-3 flex flex-col items-center border-b border-gray-50 pb-10  sm:flex-row lg:w-3/5">
        <div class="mt-6 flex-grow text-center sm:mt-0 sm:text-left">
          <h2 class="title-font mb-2 text-lg font-medium text-gray-900">캐릭터 </h2>
          <p class="text-base leading-relaxed"></p>
          <a class="mt-3 inline-flex items-center text-indigo-500"
            >-캐릭터 관리
            
          </a>
        </div>
      </div>
</nav>

</html>