<!DOCTYPE html>
<html lang="ko" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="header">
    <label for="navToggle"><svg th:replace="layout/example/icon :: navToggle"></svg></label>
    <label for="alarm"><svg th:replace="layout/example/icon :: alarm"></svg></label>
    <section>
        <div>
            <div><a href="#">10월 2일 (일)</a></div>
            <div><a id="theme" href="#"></a></div>
            <div><a th:href="@{/hex}">게임 접속</a></div>
        </div>
        <div sec:authorize="isAnonymous()">
            <div><a th:href="@{/member(act='signUp')}">회원가입</a></div>
            <div><a th:href="@{/auth(act='login')}">로그인</a></div>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div><a th:href="@{/member}">회원정보</a></div>
            <div><a th:href="@{/logout}">로그아웃</a></div>
        </div>
    </section>
    <section>
        <div class="logo">
            <a th:href="@{/}">Hex</a> 
        </div>
        <form action="/search" method="GET">
            <input type="text" name="keyword" th:placeholder="검색어">
            <button>
                <svg th:replace="layout/example/icon :: search"></svg>
            </button>
        </form>
    </section>
</header>
</html>