<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div class="logo">
        <a href="/" id="team_name">hex</a>
    </div>
    <div class="r-sec">
        <div class="t-btn">
            <a href="#">Sign in</a>
            <a href="#">Sign up</a>
            <a href="#" class="text-3xl">Game</a>
        </div>
        <div class="flex md:flex-nowrap flex-wrap justify-center items-end md:justify-start mt-9">
            <div class="relative sm:w-80 w-40 sm:mr-4 mr-2 inline-flex">
                <input type="text" id="footer-field" name="footer-field" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 py-1 px-3">
                <button class=" text-white bg-indigo-500 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Button</button>
            </div>
        </div>
    </div>
</header>

</html>