<!DOCTYPE html>
<html lang="ko" 
      xmlns:th="http://www.thymeleaf.org/">

<nav th:fragment="nav" class="main">
    <div>
        <ul sec:authorize="isAnonymous()" class="login"> 
            <li><a th:href="@{/member(act='signUp')}">회원가입</a></li>
            <li><a th:href="@{/auth(act='login')}">로그인</a></li>     
        </ul>
        <ul sec:authorize="isAuthenticated()" class="login">
            <li><a th:href="@{/member">회원정보</a></li>
            <li><a th:href="@{/logout}">로그아웃</a></li>     
        </ul>
        <ul class="nav">
            <li>
                <div>
                    <a href="#">새소식</a>
                    <i><svg th:replace="layout/example/icon :: dropdown"></svg></i>
                </div>
                <ul>
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">이벤트</a></li> 
                </ul> 
            </li>
            <li>
                <div>
                    <a href="#">게임소개</a>
                </div>
            </li>
            <li>
                <div>
                    <a th:classappend="${module} eq 'community' ? 'active'" href="/community">커뮤니티</a>
                    <i><svg th:replace="layout/example/icon :: dropdown"></svg></i>
                </div>
                <ul>
                    <li><a href="/community">자유게시판</a></li>
                    <li><a href="#">스크린샷</a></li> 
                </ul> 
            </li>
            <li>
                <div>
                    <a href="#">게임랭킹</a>
                </div>
            </li>
            <li>
                <div>
                    <a href="#">고객지원</a>
                    <i><svg th:replace="layout/example/icon :: dropdown"></svg></i>
                </div>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">1:1 문의</a></li>
                </ul> 
            </li>
        </ul>
    </div>
</nav>

</html>