<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- 헤드 -->
<th:block th:replace="fragments/head :: headFragment"></th:block>

<body>
    <div id="wrapper" class="flex">

        <!-- 사이드바 -->
        <!-- <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block> -->

        <div id="content-wrapper" class="flex flex-column">
            <div id="content">

                <!-- 상단바 -->
                <th:block th:replace="fragments/top :: topFragment"></th:block>

                <!-- 본문 -->
                <th:block layout:fragment="content"></th:block>

            </div>

            <!-- 푸터 -->
            <th:block th:replace="fragments/footer :: footerFragment"></th:block>

        </div>
    </div>
</body>
</html>