<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/defualt.css}">
    <link rel="stylesheet" th:href="@{/css/allboard.css}">
</head>
<body>
    <div class="content">
        <!-- content -->
        <div>
           <!-- category list -->
            <div class="category">
                <nav>
                   <h3>게임소식</h3>
                    <ul>
                        <li><a href="#">- 공지사항</a></li>
                        <li><a href="#">- 패치</a></li>
                        <li><a href="#">- 이벤트</a></li>
                    </ul>
                </nav>
            </div>
               <!-- board title -->
                <table class="board_title">
                   <div class="board_title_box">
                        <h2>공지사항</h2>    
                    </div>
                </table>
                <table class="board">
                    <!-- board list -->
                    <tr>
                        <th></th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>날짜</th>
                        <th>조회수</th>
                    </tr>
            </table>
        </div>
    </div>
</body>
</html>