<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default/layout}">

<title layout:fragment="title"></title>

<th:block layout:fragment="pwcheckFragment">
    <div>
        <div class="w-full h-52">
            <div class="container my-0 mx-auto p-5">
                <!-- 카테고리 -->
                <div class="w-36 float-left pt-7 border-r-2 border-solid border-gray-400">
                    <nav>
                        <h3 class="ml-5 text-lg">프로필</h3>
                        <ul class="pt-2">
                            <li><a href="#" class="font-black">> 프로필 수정</a></li>
                            <li class="text-gray-400 hover:text-black"><a href="#">> 비밀번호변경</a></li>
                            <li class="text-gray-400 hover:text-black"><a href="#">> 회원탈퇴</a></li>
                        </ul>
                    </nav>
                </div>
                <div>
                    <!-- 비밀번호 확인 -->
                    <div class="float-left p-5 w-10/12">
                        <div class="text-center">
                            <h3 class="text-2xl font-medium">비밀번호 확인</h3>
                            <input type="text" class="mt-2" placeholder="비밀번호 확인">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>