<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footerFragment">
    <div>
        <div class="w-full bg-slate-300">
            <div class="container px-5 py-24 mx-auto">
                <div class="container flex flex-wrap md:text-left text-center order-first">
                    <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">게임소식</h2>
                        <nav class="list-none mb-10">
                            <li>
                                <a class="text-gray-600 hover:text-gray-800">공지사항</a>
                            </li>
                            <li>
                                <a class="text-gray-600 hover:text-gray-800">패치</a>
                            </li>
                            <li>
                                <a class="text-gray-600 hover:text-gray-800">이벤트</a>
                            </li>
                        </nav>
                    </div>
                    <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">커뮤니티</h2>
                        <nav class="list-none mb-10">
                            <li>
                                <a class="text-gray-600 hover:text-gray-800">자유 게시판</a>
                            </li>
                            <li>
                                <a class="text-gray-600 hover:text-gray-800">게임공략 게시판</a>
                            </li>
                            <li>
                                <a class="text-gray-600 hover:text-gray-800">이벤트공략 게시판</a>
                            </li>
                            <li>
                                <a class="text-gray-600 hover:text-gray-800">질문 게시판</a>
                            </li>
                        </nav>
                    </div>
                    <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                        <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">고객센터</h2>
                        <nav class="list-none mb-10">
                            <li>
                                <a class="text-gray-600 hover:text-gray-800">신고 게시판</a>
                            </li>
                            <li>
                                <a class="text-gray-600 hover:text-gray-800">문의 게시판</a>
                            </li>
                        </nav>
                    </div>
                    <div class="lg:w-1/4 md:w-1/2 w-full px-4">
                        <div class="flex md:flex-nowrap flex-wrap justify-center items-end md:justify-start mt-9">
                            <div class="relative sm:w-80 w-40 sm:mr-4 mr-2 inline-flex">
                                <input type="text" id="footer-field" name="footer-field"
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 py-1 px-3">
                                <button
                                    class=" text-white bg-indigo-500 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Button</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-gray-100">
            <div class="container mx-auto py-4 px-5">
                <p class="text-gray-500 text-2xl">Hex
                </p>
                <span class="inline-flex py-4 text-gray-500 ">
                    <div class="border-r-2 border-solid border-gray-300 ">
                        <a class="mr-3 hover:text-black">팀소개</a>
                    </div>
                    <div class="border-r-2 border-solid border-gray-300">
                        <a class="ml-3 mr-3 hover:text-black">이용약관</a>
                    </div>
                    <div class="border-r-2 border-solid border-gray-300">
                        <a class="ml-3 mr-3 hover:text-black">게임이용등급안내</a>
                    </div>
                    <div class="border-r-2 border-solid border-gray-300">
                        <a class="ml-3 mr-3 hover:text-black">개인정보처리방침</a>
                    </div>
                    <a class="ml-3 hover:text-black">운영정책</a>
                </span>
                <address class="text-gray-500">
                    <span>충청남도 천안시</span><br />
                    <span class=" py-1">E-mail : @gmial.com</span>
                </address>
                <p class="text-gray-500 py-4">ⓒ hex All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>

</html>