<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org">

<section th:fragment="comment" class="comment" th:object="${board}">
    <form id="comment" action="/comment" th:method="post">
        <input type="hidden" name="documentId" th:value="*{documentId}">
        <input type="hidden" name="memberId" th:value="${member.memberId}">
        <p class="mb-2 text-violet-400 font-semibold" th:text="${member.nickName}"></p>
        <div class="newComment">
            <textarea class="violet" name="content" cols="30" rows="5" placeholder="내용"></textarea>
            <button class="btn confirm"></button>
        </div>
    </form>
    <div class="comment_list_count"><b th:text="*{commentList.size()}"></b></div>
    <ul id="comment_list" th:data-count="*{commentList.size()}">
        <li th:each="comment : *{commentList}" th:object="${comment}" th:data-comment-id="*{commentId}">
            <div class="comment_meta">
                <div class="comment_name" th:text="*{member.nickName}"></div>
                <small class="comment_date">
                    [[${#temporals.format(comment.createDate, 'yyyy-MM-dd')}]]
                </small>
            </div>
            <div class="comment_content" th:text="*{content}"></div>
            <div th:if="${member.memberId} eq *{member.memberId} or ${member.group.groupName} eq ${adminGroup}" class="comment_menu">
                <button class="comment_btn comment_update"></button>
                <button onclick="deleteComment(this)" class="comment_btn comment_delete"></button>
            </div>
        </li>
    </ul>

    <script th:replace="/board/example/js :: comment"></script>

</section>
</html>