<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout/example/layout}">

<title layout:fragment="title">게시글 목록</title>

<th:block layout:fragment="customHead">
    <style th:replace="board/example/tailwindcss :: board"></style>
</th:block>

<main layout:fragment="content">
    <table id="board">
        <thead>
            <tr>
                <th scope="col" class="category">분류</th>
                <th scope="col" class="title">제목</th>
                <th scope="col" class="nickName">닉네임</th>
                <th scope="col" class="createDate">등록일</th>
                <th scope="col" class="readedCount">조회수</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="board : ${boardList}" th:object="${board}">
                <td class="category" th:text="*{category.category}"></td>
                <td class="title">
                    <a th:href="|/community/*{documentId}|">
                        <span th:text="*{title}"></span>
                        <div class="summary" th:with="content=${@commonUtil.markdown(board.content)}">
                            <div th:with="content=${@commonUtil.markdown(board.content)}"
                                 th:text="${content.length lt 20 ? content : 
                                    content.substring(0,20)} + ${content.length > 20 ? '...' : ''}"></div>
                        </div>
                    </a>
                </td>
                <td class="nickName" th:text="*{member.nickName}"></td>
                <td class="createDate" th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd')}"></td>
                <td class="readedCount" th:text="*{readedCount}"></td>
            </tr>
        </tbody>
    </table>
    <div class="pt-2.5 flex flex-row-reverse">
        <a class="btn write" th:href="@{/community(act='write')}"></a>
    </div>
    <section th:replace="/board/example/pageNav :: pageNav"></section>
</main>
</html>