<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/example/layout}"
      sec:authorize="isAuthenticated()"
      th:with="member=${#authentication.principal.member}">

<title layout:fragment="title">자유게시판 - [[${board.title}]]</title>

<th:block layout:fragment="customHead">
    <style th:replace="board/example/tailwindcss :: document"></style>
    <link rel="stylesheet" type="text/css" th:href="@{/css/simplemde.min.css}">
    <script th:src="@{/js/simplemde.min.js}"></script>
</th:block>

<main layout:fragment="content" th:object="${board}">
    <section>
        <div class="category" th:text="*{category.category}"></div>
        <div class="title" th:text="*{title}"></div>
    </section>
    <section>
        <div class="name" th:text="*{member.nickName}"></div>
        <div class="float-left flex items-center">
            <div class="cnt">
                <b class="px-2">조회 수</b>
                <span th:text="*{readedCount}"></span>
            </div>
        </div>
    </section>
    <article class="content" th:utext="${@commonUtil.markdown(board.content)}"></article>
    <section>
        <a class="btn back float-left" th:href="@{/community}"></a>
        <div th:if="${member.memberId} eq *{member.memberId} or ${member.group.groupName} eq ${adminGroup}" class="flex float-right gap-1.5">
            <a class="btn write update float-left" 
                th:href="@{/community(documentId=*{documentId}, act='update')}"></a>
            <form class="float-left" action="/community" th:method="delete">
                <input type="hidden" name="documentId" th:value="*{documentId}">
                <button class="btn delete" onclick="this.submit()"></button>
            </form>
        </div>
    </section>
    <section th:replace="/board/example/comment :: comment"></section>
</main>
</html>