<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/example/layout}"
      th:with="isBoardExist=${board != null}">

<title layout:fragment="title" th:text="${!isBoardExist} ? '새글등록' : '글수정'"></title>

<th:block layout:fragment="customHead">
    <style th:replace="board/example/tailwindcss :: write"></style>
</th:block>

<main layout:fragment="content">
    <form id="write" th:object="${board}" action="/community" th:method="${isBoardExist} ? 'patch' : 'post'">
        <input th:if="${isBoardExist}" type="hidden" name="documentId" th:value="*{documentId}">
        <input type="hidden" name="memberId" th:value="${isBoardExist} ? *{member.memberId} : 5">
        <section class="top-section">
            <select name="categoryId" class="col category">
                <option th:with="categoryId=${isBoardExist ? board.category.categoryId : categoryList.get(0).categoryId}"
                        th:each="category : ${categoryList}"
                        th:object="${category}"
                        th:value="*{categoryId}"
                        th:selected="*{categoryId} == ${categoryId}"
                        th:text="*{category}"></option>
            </select>
            <input class="violet" name="title" type="text"
                   th:placeholder="제목" th:value="${isBoardExist} ? *{title}">
        </section>
        <textarea class="violet" name="content" th:rows="20" th:placeholder="내용"
                  th:text="${isBoardExist} ? *{content}"></textarea>
        <section class="bottom-section">
            <label>
                <input th:if="${isBoardExist}" class="hidden" type="checkbox" th:field="*{isNotice}">
                <input th:unless="${isBoardExist}" class="hidden" type="checkbox" name="isNotice">
                <div class="checkbox"></div>
            </label>
            <div class="flex float-right">
                <a th:if="${isBoardExist}" class="btn back float-left" th:href="|/community/${board.documentId}|"></a>
                <a th:unless="${isBoardExist}" class="btn back float-left" th:href="@{/community}"></a>
                <button class="btn write float-right" th:classappend="${isBoardExist} ? 'update'"
                        type="submit" onclick="this.submit()"></button>
            </div>
        </section>
    </form>
</main>
</html>