<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<style th:fragment="board" type="text/tailwindcss">
    #board { @apply text-xs xl:text-base text-slate-600 leading-normal border-collapse pb-2.5 }
    #board thead { @apply bg-gradient-to-b from-white to-violet-100 }
    #board th, #board td { @apply py-2 px-3 text-[11px] text-center whitespace-nowrap align-middle }
    #board th { @apply py-2 px-3  border-y border-t-gray-200 border-b-gray-300 border-solid shadow-[inset_0_-1px_0_white] }
    #board .title { @apply w-full pr-1.5 }
    #board tbody tr { @apply hover:bg-violet-100 hover:border-violet-200 }
    #board td { @apply border-b border-b-violet-300 border-solid }
    #board td.category { @apply p-2 text-gray-600 }
    #board td.title { @apply text-left text-xs whitespace-normal break-all p-0 w-full }
    #board td.title > a { @apply block relative py-2 pr-3 pl-1.5 no-underline }
    #board .summary { 
        @apply hidden absolute left-1.5 bottom-[calc(100%-10px)] z-10 my-2 mx-0 text-[11px] bg-violet-50 border border-solid border-violet-400 rounded-md whitespace-nowrap shadow-[1px_1px_3px_rgb(0_0_0_/_20%)] 
        after:content-[''] after:block after:absolute after:-bottom-1.5 after:left-[20%] after:w-2 after:h-1.5 after:-ml-1 after:bg-[url(/images/edge.png)] after:bg-no-repeat
    }
    #board .summary > div { @apply font-normal leading-normal max-w-lg p-1.5 }
    #board td.title > a:hover .summary { @apply xl:block }
    #board .btn_area { @apply relative -mt-[1px] pt-2.5 border-t border-solid border-violet-50 w-full }
    
    .btn.write { @apply after:content-['쓰기'] }

    section.page-nav { @apply text-xs xl:text-base flex gap-1 justify-center m-4 select-none }
    section.page-nav > a { @apply border-2 border-violet-300 text-violet-500 w-7 h-7 xl:w-8 xl:h-8 flex justify-center items-center hover:bg-violet-500 hover:text-violet-50 }
    section.page-nav > a.active { @apply bg-violet-500 text-violet-50 pointer-events-none font-semibold }
    section.page-nav .disabled { @apply pointer-events-none bg-slate-200 text-slate-400 border-slate-400 }
</style>

<style th:fragment="write" type="text/tailwindcss"> 
    #write { @apply p-4 bg-violet-100 border border-solid border-violet-300 rounded-xl text-slate-500 text-xs leading-6 flex flex-col w-full }
    #write .row { @apply gap-2.5 h-7 }
    #write .title { @apply w-full m-0 py-1 px-1.5 }
    #write .btn.write { @apply before:content-['\E801'] }
    #write .label { @apply self-center flex-shrink-0 text-sm before:content-['공지사항'] }
    #write select[name=categoryId] { @apply py-1 px-2 border border-violet-300 rounded-md text-sm shadow-sm focus:outline-none focus:border-violet-500 focus:ring-1 focus:ring-violet-500 }
    #write input[name=title] { @apply w-full m-0 py-1 px-3 }
    #write input[name=isNotice] { @apply accent-pink-500 }
    #write section.top-section { @apply flex gap-1.5 mb-4 }
    /* #write textarea[name=content] { @apply w-full resize-none box-border p-4 leading-relaxed } */
    #write section.bottom-section { @apply gap-1.5 mt-4 h-7 items-center flex }
    #write section.bottom-section > label { @apply flex items-center gap-1.5 h-full font-semibold before:flex-shrink-0 before:text-sm before:content-['공지사항'] text-violet-400 cursor-pointer }
    #write section.bottom-section > label > .checkbox { @apply w-4 h-4 border-2 mt-0.5 bg-white border-violet-300 }
    #write section.bottom-section > label > input:checked ~ .checkbox { @apply before:content-['✔'] before:text-xs before:-mt-1 before:-ml-0.5 before:flex }
    .editor-toolbar { @apply bg-white border-violet-300 }
    .CodeMirror { @apply border-violet-300 }
    .editor-statusbar { @apply text-violet-500 }
</style>

<style th:fragment="document" type="text/tailwindcss">
    main { @apply flex flex-col text-slate-500 text-sm xl:text-base }
    main > section { @apply flex items-center }
    main > section > .category { @apply p-0 text-xs xl:text-sm text-slate-400 flex-shrink-0 }
    main > section > .title { @apply ml-3 font-semibold }
    main > section:first-of-type { @apply p-3 border-y border-violet-300 bg-violet-50 leading-normal }
    main > section:nth-of-type(2) { @apply border-b border-violet-300 flex justify-between text-xs xl:text-sm }
    main > section .name, main > section .data, main > section .cnt { @apply p-3 }
    main > article.content { @apply prose prose-violet p-3 min-h-[200px] }
    main > section:nth-of-type(3) { @apply flex justify-between }
    main > section.comment { @apply w-full flex-col mt-6 pt-4 border-t border-violet-300 }

    .btn.back { @apply after:content-['목록'] }
    
    #comment { @apply flex flex-col w-full bg-violet-100 p-6 rounded-xl text-slate-500 leading-relaxed }
    #comment > div.newComment { @apply flex flex-col w-full gap-2 md:flex-row }
    /* #comment > div.newComment > textarea[name=content] { @apply resize-none p-4 flex-1 } */
    #comment .btn.confirm { @apply w-full h-10 justify-center bg-violet-500 hover:bg-violet-600 border-violet-500 text-violet-50 md:w-24 md:h-auto }
    .editor-toolbar { @apply bg-white border-violet-300 }
    .CodeMirror { @apply border-violet-300 h-40 min-h-fit }
    .editor-statusbar { @apply text-violet-500 }

    main > section.comment > div.comment_list_count { @apply w-full px-4 py-2.5 mt-4 border-y border-violet-300 before:content-['Comment_'] bg-violet-50 }
    main > section.comment > div.comment_list_count > b { @apply before:content-["'"] after:content-["'"] }

    #comment_list { @apply w-full mb-7 box-border list-none }
    #comment_list > li { @apply px-3 pt-3 pb-4 border-b border-violet-300 relative }
    #comment_list > li > div.comment_meta { @apply mb-2 flex items-center }
    #comment_list > li > div.comment_meta > div.comment_name { @apply text-xs xl:text-base }
    #comment_list > li > div.comment_meta > small.comment_date { @apply px-3 text-slate-500 }
    #comment_list > li > div.comment_content { @apply text-xs leading-relaxed xl:text-base xl:leading-loose }
    #comment_list > li > div.comment_menu { @apply hidden absolute top-3 right-2 gap-1.5 }
    #comment_list > li:hover div.comment_menu { @apply flex items-center text-xs }
    #comment_list > li > div.comment_menu .comment_btn { @apply leading-4 bg-none border-none cursor-pointer px-1 transition-transform duration-500 text-slate-500 hover:text-slate-600 before:font-['fontello'] before:pr-1.5 }
    #comment_list > li > div.comment_menu .comment_btn.comment_delete { @apply before:content-['\E802'] after:content-['삭제'] }
    #comment_list > li > div.comment_menu .comment_btn.comment_update { @apply no-underline before:content-['\E800'] after:content-['수정'] }
</style>

</html>