<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin/layout}">

<title layout:fragment="title">리스트 불러오기</title>

<th:block layout:fragment="customHead">

</th:block>


<main layout:fragment="content" class="container mx-auto">

      <th:block th:if="${boardList}">
            <table th:replace="admin/admin/board/getBoardList :: board"></table>
      </th:block>
      

</main>

</html>