<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<style th:fragment="common" type="text/tailwindcss">

.btn { 
    @apply flex items-center gap-1.5 py-1 pr-3.5 pl-2.5 text-xs leading-relaxed border rounded tracking-[-1px] shadow-none text-center whitespace-nowrap cursor-pointer no-underline hover:shadow 
    before:font-['fontello'] before:transition-transform before:duration-300 before:hover:rotate-[360deg];
    transition: border-color .4s,box-shadow .4s,background .4s,color .4s,opacity .4s;
}

</style>

</html>