<!DOCTYPE html>
<html lagn="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="headFragment">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title layout:fragment="title"></title>

        <!-- 공통 CSS -->
        <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"> -->

        <!-- 개별 CSS -->
        <th:block layout:fragment="css"></th:block>
    </head>
</th:block>
</html>