<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/example/layout}">

<title layout:fragment="title">Hex - 500 Error</title>

<th:block layout:fragment="customHead">
    <script src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.min.js"></script>
    <style>
        footer{padding-top: 0 !important}
        #error{height: unset !important; overflow: unset !important;}
    </style>
</th:block>

<main layout:fragment="content" id="error" class="flex justify-center h-fit">
    <script th:replace="error/js :: js(error=500)"></script>
</main>
</html>