.layout{
    width: 1080px;
    margin: 0 auto;
}
section{
    display: block;
}
.btl{
    position: relative;
    margin-top: 20px;
    border-bottom: 1px solid black;
}
.title{
    margin-bottom: 16px;
    font-size: 22px;
}
.btr{
    position: absolute;
    bottom: 12px;
    right: 0;
}
.button_color{
    background-color: rgba( 3, 199, 90, 0.12 );
    color: green;
}
.registerbtn{
    display: inline-block;
    border-radius: 6px;
    box-sizing: border-box;
    font-weight: 700;
    text-align: center;
    vertical-align: top;
}