#board {
    font-size: 12px;
    color: #444;
    line-height: 1.5;
    width: 100%;
    border-collapse: collapse;
}
#board thead {
    background: linear-gradient(to bottom,#FFF 0%,#F9F9F9 100%);
}
#board th, #board td {
    padding: 8px 12px;
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
#board th {
    padding: 9px 12px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #BBB;
    box-shadow: inset 0 -1px 0 #fff;
    color: #555;
}
#board tbody tr:hover {
    background: #F9F9F9;
    border-color: #DDD;
}
#board td {
    border-bottom: 1px solid #EEE;
    padding: 8px 12px;
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
}
#board .title {
    width: 100%;
    padding-right: 6px;
}
#board .no_doc{
    clear: both;
    padding: 20px;
    text-align: center;
}
#board td.category {
    padding: 8px;
    color: #666;
}
#board td.title {
    text-align: left;
    font-size: 12px;
    white-space: normal;
    word-break: break-all;
    padding: 0;
    width: 100%;
}
#board td.title > a {
    display: block;
    position: relative;
    padding: 8px 12px 8px 6px;
    text-decoration: none;
}
#board .summary {
    display: none;
    position: absolute;
    left: 6px;
    bottom: calc(100% - 10px);
    z-index: 100;
    margin: 8px 0;
    font-size: 11px;
    background: #FFF;
    border: 1px solid #999;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
}
#board .summary > div {
    font-weight: 400;
    line-height: 1.5em;
    max-width: 500px;
    padding: 6px;
}
#board .summary::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -6px;
    left: 20%;
    width: 9px;
    height: 6px;
    margin-left: -5px;
    background-image: url(../images/edge.png);
    background-repeat: no-repeat;
}
#board td.title > a:hover .summary {
    display: block;
}