ul{
    list-style: none;
    display: block;
}
li{
    display: inline-block;
}
.top_bg{
    background-color: beige;
    height: 180px;
}
.float_left{
    float: left;
    font-size: 50px;
    margin: 57px 60px
}
.float_right{
    float: right;
    margin-top: 25px;
    width: 22%;
    margin-right: 15px;
}
.top_right_top{
    text-align: right;
    display: flex;
    justify-content: flex-end;
}
.right_top{
    margin: 11px 
}
.Game_btn{
    margin-left: 10px;
    font-size: 35px;
}
.search-box{
    margin-top: 35px;
    height: 40px;
    border: 1px solid #1b5ac2;
    background: #ffffff;
}
.search-text{
    font-size: 16px;
    width: 180px;
    padding: 10px;
    border: 0px;
    outline: none;
    float: left;
}
.search-btn{
    width: 50px;
    height: 100%;
    border: 0px;
    background: #1b5ac2;
    outline: none;
    float: right;
    color: #ffffff;
}
.section{
    height: 90px;
    text-align: center;
    font-size: 26px;
}
.sec_ul{
    height: 90px;
    background-color: antiquewhite;
    margin: 0 auto;
    padding: 0;
}
.sec_li{
    padding: 23px;
}
