header {
    width: 100%;
    position: relative;
    text-align: center;
}
#write {
    padding: 15px;
    background: #F3F3F3;
    border: 1px solid #DDD;
    border-radius: 10px;
    color: #444;
    font-size: 12px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
#write .row {
    gap: 5px;
    height: 28px;
}
.title {
    width: 100%;
    margin: 0;
    padding: 4px 6px;
}
.content {
    width: 100%;
    resize: none;
    box-sizing: border-box;
    padding: 15px;
}
.label::before {
    flex-shrink: 0;
    align-self: center;
    font-size: 14px;
}
.label.is_notice::before {
    content: '공지사항';
}
.btn.write::after { content: '등록' }
.btn.write.update {
    background: cornflowerblue;
    color: white;
    text-shadow: 0 1px 0 black;
}
.btn.write.update::after { content: '수정' }
.btn.write::before { content: '\E801' }
.btn.back {
    position: absolute;
    left: 0;
    bottom: 1em;
}