<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/example/layout}">

<title layout:fragment="title">Hex - 회원가입</title>

<th:block layout:fragment="customHead">
    <style type="text/tailwindcss">
        main { @apply flex flex-col }
        main > form { @apply container flex flex-col max-w-2xl mx-auto gap-3 xl:gap-6 before:text-lg before:xl:text-2xl before:font-bold before:text-violet-600 before:text-center }
        main > form > section { @apply flex flex-col w-full gap-2 xl:gap-4 xl:px-12 sm:rounded-xl before:bg-violet-200 before:dark:bg-violet-300 before:text-sm 
            before:xl:text-lg before:p-3 before:font-semibold before:text-violet-500 before:rounded-md }
        main > form > button[type=submit] { @apply relative flex justify-center rounded-md border border-transparent bg-violet-600 py-2 px-4 xl:mx-12 mt-4 text-sm font-medium text-white 
            hover:bg-violet-700 focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2 }
        main > form > button[type=submit] > svg { @apply absolute inset-y-0 left-0 flex pl-3 py-1.5 h-full text-violet-500 group-hover:text-violet-400 }
        main > form > section label { @apply flex flex-col w-full  before:font-medium text-sm sm:text-base before:text-violet-500 }
        main > form input { @apply mt-1 w-full px-3 py-2 bg-white border border-violet-300 rounded-md text-sm shadow-sm placeholder-slate-400
            focus:outline-none focus:border-violet-500 focus:ring-1 focus:ring-violet-500 disabled:bg-slate-50 disabled:text-slate-500 
            disabled:border-slate-200 disabled:shadow-none invalid:border-rose-300 invalid:text-rose-500 focus:invalid:border-rose-300 
            focus:invalid:ring-rose-500 dark:bg-violet-50 }
    </style>
</th:block>

<main layout:fragment="content">
    <form class="before:content-['회원가입']" action="/member" method="post">
        <section class="before:content-['사이트_이용정보_입력']">
            <label class="before:content-['아이디']"><input type="text" name="id" placeholder="ID" /></label>
            <div class="flex gap-2 xl:gap-4 flex-col sm:flex-row">
                <label class="before:content-['비밀번호']"><input type="password" name="password" placeholder="Password" /></label>
                <label class="before:content-['비밀번호_확인']"><input type="password" name="rePassword" placeholder="Password" /></label>
            </div> 
        </section>
        <section class="before:content-['개인정보_입력']">
            <label class="before:content-['이름']"><input type="text" name="name" placeholder="Name" /></label>
            <label class="before:content-['닉네임']"><input type="text" name="nickName" placeholder="Nickname" /></label>
            <label class="before:content-['이메일']"><input type="email" name="email" placeholder="Email" /></label>
        </section>
        <button type="submit" class="group after:content-['회원가입']">
            <svg th:replace="member/example/icon :: submit"></svg>      
        </button>
    </form>
</main>
</html>