<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/example/layout}">

<title layout:fragment="title">Hex - 회원가입</title>

<th:block layout:fragment="customHead">
    <style th:replace="member/example/tailwindcss :: signUp"></style>
</th:block>

<main layout:fragment="content">
    <form class="before:content-['회원가입']" action="/member" method="post">
        <section class="before:content-['사이트_이용정보_입력']">
            <label class="before:content-['아이디']"><input type="text" name="id" placeholder="ID" /></label>
            <div class="flex gap-2 xl:gap-4 flex-col sm:flex-row">
                <label class="before:content-['비밀번호']"><input type="password" name="password" placeholder="Password" /></label>
                <label class="before:content-['비밀번호_확인']"><input type="password" name="rePassword" placeholder="Password" /></label>
            </div> 
        </section>
        <section class="before:content-['개인정보_입력']">
            <label class="before:content-['이름']"><input type="text" name="name" placeholder="Name" /></label>
            <label class="before:content-['닉네임']"><input type="text" name="nickName" placeholder="Nickname" /></label>
            <label class="before:content-['이메일']"><input type="email" name="email" placeholder="Email" /></label>
        </section>
        <button type="submit" class="group after:content-['회원가입']">
            <svg th:replace="member/example/icon :: submit"></svg>      
        </button>
    </form>
</main>
</html>