<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/example/layout}"
      th:with="member=${#authentication.principal.member}">

<title layout:fragment="title">Hex - 비밀번호 변경</title>

<th:block layout:fragment="customHead">
      <style th:replace="member/example/tailwindcss :: memberInfo"></style>
      <style th:replace="member/example/tailwindcss :: updatePassword"></style>
</th:block>

<main layout:fragment="content" th:object="${member}">
      <form id="member" action="/member" th:method="patch">
            <p th:if="${exception}" class="exception" th:text="${exception}"></p>
            <input type="hidden" name="act" value="updatePassword">
            <label class="before:content-['아이디']"><input type="text" disabled th:value="*{id}"></label>
            <label class="before:content-['현재_비밀번호']"><input type="password" name="currentPassword"></label>
            <label class="before:content-['새_비밀번호']"><input type="password" name="password1"></label>
            <label class="before:content-['새_비밀번호_확인']"><input type="password" name="password2"></label>
            <button class="btn write update"></button>
      </form>
</main>
</html>