<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{layout/admin/layout}">

<title layout:fragment="title">Hex Admin - 회원 등급 설정</title>

<th:block layout:fragment="customHead">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <style th:replace="group/admin/tailwindcss :: group"></style>
</th:block>

<main layout:fragment="content" id="groupList" class="before:content-['회원_등급_관리']">
    <ul id="group">
        <li class="group" th:each="groupName : ${defaultGroup}">
            <input type="text" th:value="${groupName}" disabled></label>
        </li>
        <li class="group" th:each="group : ${groupList}" th:object="${group}" th:data-group-id="*{groupId}"
            th:if="${!#arrays.contains(defaultGroup, group.groupName)}">
            <input type="text" th:value="*{groupName}" placeholder="그룹명"></label>
            <button class="btn write update"></button>
            <button class="btn delete"></button>
        </li>
    </ul>
    <section class="group">
        <input type="text" th:value="*{groupName}" placeholder="그룹명"></label>
        <button class="btn write"></button>
    </section>
    <script th:replace="group/admin/js :: js"></script>
</main>